.centerImg {
    display: block;
    margin: 0 auto;
}

.center {
  text-align: center;
}

.navbar ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: block;
      background-color: #333;
      overflow: hidden;
      position: -webkit-sticky;
      position: sticky;
    }

    .navbar li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px 16px;
      text-decoration: none;
      float: left;
      border-right: 1px solid #bbb;
    }

    .navbar a,a:hover {
      transition: 0.75s;
      background-color: #111;
    }


.reg h1 {
      text-align: center;
    }

    .reg form {
      text-align: center;
      color: blue;
    }
        .regcont {
  height: 200px;
  position: relative;
}
       .regbutton button {
        margin: 10;
        top: 20%;
        left:25%;
        position: absolute;
        width: 50%;
        border-radius: 20px;
        cursor: pointer;
        background-color: #007bff;
        color: yellow;
        height: 50px;
        align-items: center;
        }
        .regbutton button:hover{
          background-color:darkblue;
        }







